.specializations {
  padding-top: 2rem;

    h3 {
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif;
    }

    .under_line {
      padding-top: 0.5rem;
      margin-bottom: 2rem;
      width: 10rem;
      border-bottom: 2px solid gray;
    }
  }
