@import "../../src/Styles/vairables.scss";

.content {
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  
  html {
    font-size: 18px;
    font-family: $font;
    
  }

  h3, h4 {
      font-size: 1.2rem;
      display: block;
      width: 180px;
      white-space: nowrap;
      border-bottom: 2px solid $base-color;
      padding-bottom: .4rem;
      margin-bottom: 1rem;

  
  }

  h3 {
    width: 180px;
  }

  h4 {
    width: 130px;
  }