$font-color: #000;
$font: 'Raleway', sans-serif;
$background-color-primary: #fff;
$background-color-second: #f8f8f8;
$base-color: #906090;


$breakpoints: (
 xs: 576px,
 sm: 768px,
 md: 920px,
 lg: 1200px,
 xl: 1368px
);

